.game-root {
    -fx-background-color : #faf8ef;
}

.empty-tile {
    -fx-fill : #cdc1b4;
    -fx-stroke-width : 14px;
    -fx-stroke-type : centered;
    -fx-stroke : #BBADA0;
}

.tile-2    {
    -fx-background-color: #eee4da;
    /*
    -fx-font-size: 55px;
    -fx-text-fill: #776e65;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    */
}
.tile-4    {
    -fx-background-color: #ede0c8;
    /*
    -fx-font-size: 55px;
    -fx-text-fill: #776e65;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    */
}